<div id="page-container" *ngIf="book">
    <div class="card-title">
        <h1>{{book.items[0].volumeInfo.title}}</h1>
    </div>
    <div class="card-image">
        <div class="left-card-container" >
            <div>
                <img src="{{book.items[0].volumeInfo.imageLinks.smallThumbnail}}" alt="">
                {{book.items[0].volumeInfo.averageRating}}
            </div>
            <div>
                <h1>votar</h1>
            </div>
            <div>
                <h1>comentar</h1>
            </div>    
        </div>
        <div class="card-detail" *ngFor="let author of book.items[0].volumeInfo.authors">
          <label>autor: </label><p>{{author}}</p>
          <label>año: </label><p></p>
          <label>idioma: </label><p></p>
          <label>precio: </label><p></p>
        </div>
    </div>  
</div>       
