<!--The content below is only a placeholder and can be replaced.-->
<header id="site-header">
  <div class="container">
   <nav class="navbar">
    <div *ngIf="!loading && anon">
      <a [routerLink]="['/signup']" class="navbar signup">signup</a>
      <a [routerLink]="['/login']" class="navbar login" >login</a>    
    </div>
    <div *ngIf="!loading && !!user">
      <a [routerLink]="['/']" (click)="logout()">logout</a>
      <a>Hi {{user.username}}!</a>
    </div>
  </nav>
  </div>
</header>

<div id="site-main" class="container">
  <router-outlet></router-outlet>
</div>

<footer id="site-footer">
  <div class="container">
    nice footer
  </div>
</footer>