<!--The content below is only a placeholder and can be replaced.-->
<header id="page-header">
  <nav class="navbar">
    <div class="brand-container">
      <h1>BookAddicted</h1>
    </div>
    <div class="logo container">
      <img class="logo" src="https://flaticons.net/icons/Miscellaneous/Book-Open.png" alt="logo">
    </div>
    <div class="search container">
      <label></label>
      <input type="text" name="search" [(ngModel)]="book"/>
      <button type="submit" (click)="handleSearchClick()">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <div class="user-login container">
        <div *ngIf="!loading && anon">
            <a [routerLink]="['/login']" class="navbar login" >login</a>
            / 
            <a [routerLink]="['/signup']" class="navbar signup">signup</a>  
        </div>
        <div *ngIf="!loading && !!user">
          <a>Hi {{user.username}}!</a>
          /
          <a [routerLink]="['/']" (click)="logout()">logout</a>
        </div>
    </div>
  </nav>
  <!-- <div *ngIf="book">{{book | json}}
  </div> -->

<!-- <div>{{book.items[0].volumeInfo.authors[0] | json}}</div> -->

</header>
<section>
  <div *ngIf="book">
    <div *ngFor="let author of book.items[0].volumeInfo.authors">{{author}}</div>
    <div>
      <h2>{{book.items[0].volumeInfo.title}}</h2>
    </div>
  </div>
  <div id="site-main" class="container">
    <router-outlet></router-outlet>
  </div>
</section>
<footer id="page-footer">
  <div class="container">
    nice footer
  </div>
</footer>