<!--The content below is only a placeholder and can be replaced.-->
<header id="site-header">
  <div class="container">
   <nav class="navbar">
    <div class="search-book">
        <label></label>
        <input type="text" name="search" [(ngModel)]="search"/>
        <button type="submit" (click)="logout()">
          <i class="fas fa-search"></i>
        </button>
    </div>
    <div *ngIf="!loading && anon">
      <a [routerLink]="['/signup']" class="navbar signup">signup</a>
      <a [routerLink]="['/login']" class="navbar login" >login</a>    
    </div>
    <div *ngIf="!loading && !!user">
      <a [routerLink]="['/']" (click)="logout()">logout</a>
      <a>Hi {{user.username}}!</a>
    </div>
  </nav>
  </div>
</header>

<div id="site-main" class="container">
  <router-outlet></router-outlet>
</div>

<footer id="site-footer">
  <div class="container">
    nice footer
  </div>
</footer>