<div id="page-container">
  <section class="login-signup-section">
    <div class="login-signup-wrapper">
      <div class="login-signup-icon">
        <h2><i class="fas fa-user-plus" id="nav-icon"></i></h2> 
      </div>
      <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
        <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
          <label></label>
          <input placeholder="Nombre de usuario:" type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" required minlength="3" [disabled]="processing"/>
          <div *ngIf="feedbackEnabled && usernameField.errors">
            <p *ngIf="usernameField.errors.required" class="validation">username required</p>
            <p *ngIf="usernameField.errors.minlength" class="validation">username is too short</p>
          </div>
        </div>
        <div class="field" [ngClass]="{'has-error': feedbackEnabled && passwordField.errors}">
          <label></label>
          <input placeholder="Contraseña:" type="text" name="password" [(ngModel)]="password" #passwordField="ngModel" required minlength="3" [disabled]="processing"/>
          <div *ngIf="feedbackEnabled && passwordField.errors">
            <p *ngIf="passwordField.errors.required" class="validation">campo obligatorio</p>
            <p *ngIf="passwordField.errors.minlength" class="validation">contraseña muy corta</p>
          </div>
        </div>
        <div class="field submit">
          <button type="submit" [disabled]="processing">Registrarme</button>
          <div *ngIf="error" class="validation">
            <div [ngSwitch]="error.code">
              <p *ngSwitchCase= "'username-not-unique'">Nombre de usuario usado, prueba con otro</p>
              <p *ngSwitchDefault>Error inesperado, prueba luego</p>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-register">
      <h1>¿Por qué registrarse?</h1>
      <ul>
        <li>Añade comentarios a tus libros</li>
        <li>Valora el libro que quieras</li>
        <li>Haz comunidad mediante los comentarios</li>
        <li>Y no mucho mas</li>
      </ul>
    </div>
  </section>  
</div>