/* ---- reset ---- */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
  
  
  /* ---- typography ---- */
  
body {
  color: #111;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-size: 35px;
  margin: 14px 0;
  letter-spacing: 1px;
  text-shadow: 0 0 20px rgba(90, 90, 90, 0.75);
}
  
h2 {}

h3 {}

p {
  margin: 0;
}
  
  
  
  /* ---- layout ---- */
  
#page-header {
  color: white;
  background: rgb(44, 188, 94);
  box-shadow: 0 0 20px rgba(90, 90, 90, 0.75);
  width: 100%;
  height: 56px;
}

#page-footer {
  color: white;
  padding: 60px 0;
  background: rgb(44, 188, 94);;
  box-shadow: 0 0 20px rgba(90, 90, 90, 0.75);
}

#site-main {
  margin-bottom: 60px;
}

#page-header nav {
  display: flex;  
  margin: 0 auto;
  width: 980px;
}

.container {
  margin: auto auto;
  display: inline-block;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

.navbar a {
  margin: 10px 20px;
  color: white;
}

.logo {
  width: 83px;
  height: 54px;
}



.search input {
  border-radius: 5px;
}

.search button {
      background-color: transparent;
    color: white;
    border: none;
}

.search-btn {
  background-image: url("https://png.pngtree.com/element_pic/00/16/07/16578a0516eadc6.jpg");
  size: 20px;
}

  /* You can add global styles to this file, and also import other style files */

/* -- forms -- */

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
  }
}

@media (min-width: 385px) {
  .container {
    max-width: 368px;
  }
}

