/* ---- reset ---- */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
  
  
  /* ---- typography ---- */
  
body {
  color: #666;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
  background-color: #f5f8fa;
}

h1 {
  color: #666;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

li {
  font-size: 20px;
  margin: 17px 5px;
  color: #333333;
}

li::before {
  content: "•"; color: rgb(0, 0, 0,0.6);
  display: inline-block; width: 1em;
  margin-left: -1em
}

input {
  color: #5b5b5b;
  border-radius: 5px;
  font-size: 18px;
  line-height: 18px;
  border: 1px solid #C3C3C3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #FBFBFB;
}

  /* ---- layout ---- */
  
#page-header {
  color: white;
  background: rgb(44, 188, 94);
  box-shadow: 0 0 20px rgba(90, 90, 90, 0.75);
  width: 100%;
  height: 56px;
}

#page-header nav {
  display: flex;  
  margin: 0 auto;
  width: 980px;
}

#page-header h1 {
  font-size: 35px;
  margin: 14px 0;
  letter-spacing: 1px;
  text-shadow: 0 0 20px rgba(90, 90, 90, 0.75);
  font-family: 'Roboto Condensed', sans-serif;
}

#site-main {
  margin-bottom: 60px;
  display: flex;
  margin: 0 auto;
  width: 980px;
}

#page-container {
  padding: 5px 8px 30px 5px;
  max-height: 999999px;
  margin: 20px auto;
  width: 980px;
  border: 1px solid #A0A0A0;
  border-collapse: separate;
  border-spacing: 0;
  background: #ffffff;
  cursor: auto;
  box-shadow: 0 0 20px rgba(90, 90, 90, 0.75);
}

#page-footer {
  color: white;
  padding: 0 0;
  background: rgb(0, 0, 0,0.6);
  box-shadow: 0 0 20px rgba(90, 90, 90, 0.75);
  width: 100%;
  height: 90px;
  margin-top: 30px;
  padding: 4px;
  color: #fff;
  cursor: auto;
}

/* classes */

.container {
  margin: auto auto;
  display: inline-block;
}

/* footer */

.footer-container{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  margin: 0 auto;
  width: 980px;
  height: 100%;
}

.footer-logo {
  width: 40px;
  height: 25px;
}

.footer-brand {
  margin: 4px 5px;
  text-shadow: 0 0 20px rgba(90, 90, 90, 0.75);
  font-family: 'Roboto Condensed', sans-serif;
}


/*  */


.auth-links a {
  margin: auto 10px;
  color: white;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

.header-logo {
  width: 83px;
  height: 54px;
}



/* icons */

.fa-search {
  font-size: 20px;
  margin: auto auto;
  cursor: pointer;
}

.fa-user {
  font-size: 72px;
  color: #a8a8a8;
}

.fa-copyright {
  font-size: 7.5px;
}

/* search style */

.search input {
  width: 300px;
  height: 31px;
}

.search button {
  background-color: transparent;
  color: white;
  border: none;
}

.search-btn {
  background-image: url("https://png.pngtree.com/element_pic/00/16/07/16578a0516eadc6.jpg");
  size: 20px;
}

.user-login.container {
  margin: auto 0 auto auto;
}



/* login-signup-pages */

.login-signup-container {
  display: inline-block;
  vertical-align: top;
  width: 360px;
  margin: 30px auto;
  padding: 20px 0px;
  background: #F2F2F2;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-signup-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
} 

.login-signup-wrapper {
  display: inline-block;
  width: 360px;
  margin: 30px;
  padding: 20px 0px;
  background: #F2F2F2;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-icon {
  background: #FFF;
  border-radius: 60px;
  display: inline-block;
  height: 100px;
  line-height: 88px;
  margin: 0px 0 10px 0;
  text-align: center;
  vertical-align: top;
  width: 100px;
}

.login-icon h2 {
  margin: 10px 0px;
}


/* card */


/* register card */

.register-card {
  padding: 20px 0px;
  text-align: -webkit-left;
  color: rgb(0,0,0,0.7);
}

.register-card h1 {
  padding-left: 26px;
  font-size: 1.8em;
}

  /* -- forms -- */

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 20px;
  height: 50px;
  width: 300px;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
    background: #23af54;
    width: 80%;
    border: 0;
    color: #FFFFFF;
    height: 41px;
    line-height: 35px;
    font-size: 20px;
    border-radius: 3px;
    margin: 20px 0px;
    cursor: pointer;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}





@media (min-width: 768px) {
  .container {
    max-width: 728px;
  }
}

@media (min-width: 320px) {
  .container {
    max-width: 1000px;
  }
}

