/* ---- reset ---- */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
  
  
  /* ---- typography ---- */
  
body {
  color: #666;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
  background-color: #f5f8fa;
}

h1 {
  color: #666;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

li {
  font-size: 20px;
  margin: 17px 5px;
  color: #333333;
}

input {
  color: #5b5b5b;
  border-radius: 5px;
  font-size: 18px;
  line-height: 18px;
  border: 1px solid #C3C3C3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #FBFBFB;
}

  /* ---- layout ---- */
  
#site-main {
  margin-bottom: 60px;
  display: flex;
  margin: 0 auto;
  width: 980px;
}

#page-header {
  color: white;
  background: rgb(44, 188, 94);
  box-shadow: 0 0 20px rgba(90, 90, 90, 0.75);
  width: 100%;
  height: 56px;
  position: fixed;
}

#page-header-top {
  width: 100%;
  height: 56px;
}

#page-header nav {
  display: flex;  
  margin: 0 auto;
  width: 980px;
}

#page-header h1 {
  font-size: 35px;
  margin: 14px 0;
  letter-spacing: 1px;
  text-shadow: 0 0 20px rgba(90, 90, 90, 0.75);
  font-family: 'Roboto Condensed', sans-serif;
}

#page-container {
  padding: 5px 8px 30px 5px;
  max-height: 999999px;
  margin: 20px auto;
  width: 980px;
  border: 1px solid #A0A0A0;
  border-collapse: separate;
  border-spacing: 0;
  background: #ffffff;
  cursor: auto;
  box-shadow: 0 0 20px rgba(90, 90, 90, 0.75);
}

#page-footer {
  color: white;
  padding: 0 0;
  background: rgb(0, 0, 0,0.6);
  box-shadow: 0 0 20px rgba(90, 90, 90, 0.75);
  width: 100%;
  height: 90px;
  margin-top: 30px;
  padding: 4px;
  color: #fff;
  cursor: auto;
}

/*   classes   */
/* sorted (a-z) */

.auth-links a {
  margin: auto 10px;
  color: white;
}


/* card */

.card-image img {
  border-radius: 5px;
  vertical-align: middle;
  border: 1px solid #E2E2E2;
  box-shadow: 2px 3px 4px #BBBBBB;
  width: 220px;
  height: 350px;
  margin-bottom: 20px;
} 

.card-title h1 {
  margin-right: 380px;
  padding-left: 26px;
  font-size: 1.8em;
  letter-spacing: inherit;
  line-height: 40px;
}

.left-card-container {
  width: 240px;
  height: 100%;
  margin: auto 15px;
}

.card-image {
  display: flex;
  margin: 20px 10px 10px 10px;
}

.card-detail {
  margin-left: 60px;
}

.card-list-details {
  color: #777777;
  margin-top: 1px;
}

.card-info {
  text-align: left;
}

.card-list-details {
  color: #666;
  margin-top: 1px;
}

.card-register {
  padding: 20px 0px;
  text-align: -webkit-left;
  color: rgb(0,0,0,0.7);
}

.card-register h1 {
  padding-left: 26px;
  font-size: 1.8em;
}

.card-register li::before {
  content: "•"; color: rgb(0, 0, 0,0.6);
  display: inline-block; width: 1em;
  margin-left: -1em
}

.card-vote-comment {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0px 0px 10px 0px;
  background: #F0F0F0;
  width: 220px;
  border: 1px solid #CDDCEB;
}

.card-vote-comment-layout {
  background-color: #FFFFFF;
  border: 1px solid #CDDCEB;
  color: #1f8e46;
  font-size: 85%;
  padding: 5px;
  margin: 5px 35px;
  width: 142px;
  cursor: pointer;
}

.card-vote-comment-btn {
  margin: 10px 0px;
}

.card-vote-comment a {
  margin: 10px 0px;
  color:rgb(44, 188, 94);
}

.container {
  margin: auto auto;
  display: inline-block;
}

/* detail */

.detail-rat-container {
  float: left;
  font-size: 160%;
  color: #fff;
  padding: 5px;
  background: rgb(44, 188, 94);
  width: 62px;
  height: 44px;
  padding-top: 10px;
  text-align: center;
}

.detail-rat-votes-container {
  margin: 0px 35px;
  padding: 10px 0px;
}

.detail-rat-container h1 {
  color: white;
}

.detail-votes-container {
  text-align: center;
  color: rgb(44, 188, 94);
  font-size: 80%;
  padding: 6px 5px;
  float: left;
  margin-left: 18px;
  font-weight: bold;
  border: 1px solid rgb(44, 188, 94);
  background: #fff;
  width: 62px;
  height: 44px;
  line-height: 16px;
}

.detail-grafic-rat {
  padding: 3px;
  background: #fff;
  border: 1px solid #CDDCEB;
  width: 142px;
  height: 120px;
  margin-bottom: 40px;
}

/* footer */

.footer-container{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  margin: 0 auto;
  width: 980px;
  height: 100%;
}

.footer-logo {
  width: 40px;
  height: 25px;
}

.footer-brand {
  margin: 4px 5px;
  text-shadow: 0 0 20px rgba(90, 90, 90, 0.75);
  font-family: 'Roboto Condensed', sans-serif;
}

/* icons */

.fa-search {
  font-size: 20px;
  margin: auto auto;
  cursor: pointer;
}

.fa-copyright {
  font-size: 7.5px;
}

/* home */

.home-page-card {
  display: flex;
  flex-flow: wrap;
  margin: 5px 20px;
}

.home-image-card {
  display: flex;
  flex-flow: column;
  margin: 10px 20px;
  text-align: center;
}

.home-image-card img {
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  width: 190px;
  height: 300px;
  box-shadow: 2px 3px 4px #BBBBBB;
}

.home-rat-card p {
  margin: -75px 0;
  color: white;
  width: 190px;
  height: 75px;
  background-color: rgb(36, 150, 75, 0.9);
  padding: 0 10px;
}

.inline-authors {
  display: inline;
}

.nav-logo {
  width: 80px;
  height: 40px;
  margin-top: 5px;
}

/* login-signup-pages */

.login-signup-container {
  display: inline-block;
  vertical-align: top;
  width: 360px;
  margin: 30px auto;
  padding: 20px 0px;
  background: #F2F2F2;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-signup-wrapper {
  display: inline-block;
  width: 360px;
  margin: 30px;
  padding: 20px 0px;
  background: #F2F2F2;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-signup-icon {
  background: #FFF;
  border-radius: 60px;
  display: inline-block;
  height: 100px;
  line-height: 88px;
  margin: 0px 0 10px 0;
  text-align: center;
  vertical-align: top;
  width: 100px;
}

.login-signup-icon {
  background: #FFF;
  border-radius: 60px;
  display: inline-block;
  height: 110px;
  line-height: 88px;
  margin: 0px 0 10px 0;
  text-align: center;
  vertical-align: top;
  width: 110px;  
}

.login-signup-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.login-signup-icon h2 {
  margin: 10px -25.5px 10px 0px;
  font-size: 68px;
  color: #a8a8a8;
}
.login-signup-icon.user h2 {
  margin: 10px 0px;
}

/* search style */

.search input {
  width: 300px;
  height: 31px;
  padding: 0 5px;
}

.search button {
  background-color: transparent;
  color: white;
  border: none;
}

.search-btn {
  background-image: url("https://png.pngtree.com/element_pic/00/16/07/16578a0516eadc6.jpg");
  size: 20px;
}


.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

.user-login.container {
  margin: auto 0 auto auto;
}


/* -- forms -- */

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 20px;
  height: 50px;
  width: 300px;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  background: #23af54;
  width: 80%;
  border: 0;
  color: #FFFFFF;
  height: 41px;
  line-height: 35px;
  font-size: 20px;
  border-radius: 3px;
  margin: 20px 0px;
  cursor: pointer;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}

@media screen and (max-width: 992px) {
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    width: 1000px;
  }
}

@media screen and (max-width: 770px) {
  body {
    width: 1000px;
  }
}
